@import 'vars';
@import 'typography';
@import 'bootstrap'; 

body {
  font-family: Roboto, Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: #e8e8e8;
  padding: $half-space;

  h2 {
  	color:#C3C3C3;
  	padding-left: 20px;
  	margin-bottom:16px;
  }
}

.container {
	max-width: 600px;
}

.no-notes {
	text-align:center;
	opacity:0.25;
	margin-top:40px;
	-webkit-user-select: none;
}

.precisitlogo {
	background-image: url("http://www.precisit.se/assets/logo-big.png");
    background-repeat: no-repeat;
    background-position: center;
    min-height:350px;
}

.list-group-item {
	opacity: none;
	font-weight: 200;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.12);
	border:none;
	padding:15px;
	padding-left:25px;
	border-radius: 0px 0px 0px 0px;

	&:hover .note-icon {
		visibility: visible;
	}

	.note-icon {
		color: rgba(0,0,0,0.14);
		visibility: hidden;
		float:right;
		margin-left: 10px;
		margin-right:10px;
		font-weight:50;
		font-size: 1.2em;
	}

	.green-hover {
		&:hover {
			color: #0B6684;
		}
	}
	.red-hover {
		&:hover {
			color: #db4437;
		}
	}

	&:first-child {
		border-radius: 0px 0px 0px 0px;
	}

	&:last-child {
		border-radius: 0px 0px 0px 0px;
	}
}

.form-control {
	border:none;
	 outline: 0;
	 max-height:20px;
	 box-shadow: none;
	 margin-left:0px;
	 padding-left:0px;

	&:focus {
	    border-color: #fff;
	    outline: 0;
	    box-shadow: none;
	}
}

.loading-div {
	text-align:center;
	color:grey;
}

.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
